@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<div class="filter">
    <div class="filters">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort By</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Most Recently Active</a>
            <a class="dropdown-item" href="#">Least Recently Active</a>
            <a class="dropdown-item" href="#">Alphabetially A-Z</a>
            <a class="dropdown-item" href="#">Alphabetially Z-A</a>
        </div>
    </div>
    <div class="filters">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter By</a>
        <div class="dropdown-menu">

        </div>

    </div>
    <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<body>
<div class="container body row col right-col d-flex flex-nowrap">
    <div class="col-lg-4 col-sm-6 col-xs-12 ">
        <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
        <div class="card-container">
            <button class="btn-title">
                <a class="card-title">Title</a>
            </button>

            <button class="btn btn-lg btn-primary cardbtn" type="button">

            </button>
            <button class="btn-sm btn-primary">
                <p>Add New Card</p>
            </button>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
        <div class="card-container">
            <button class="btn-title">
                <a class="card-title">Title</a>
            </button>

            <button class="btn btn-lg btn-primary cardbtn" type="button">

            </button>
            <button class="btn-sm btn-primary">
                <p>Add New Card</p>
            </button>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
        <div class="card-container">
            <button class="btn-title">
                <a class="card-title">Title</a>
            </button>

            <button class="btn btn-lg btn-primary cardbtn" type="button">

            </button>
            <button class="btn-sm btn-primary">
                <p>Add New Card</p>
            </button>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
        <div class="card-container">
            <button class="btn-title">
                <a class="card-title">Title</a>
            </button>

            <button class="btn btn-lg btn-primary cardbtn" type="button">

            </button>
            <button class="btn-sm btn-primary">
                <p>Add New Card</p>
            </button>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
        <div class="card-container">
            <button class="btn-title">
                <a class="card-title">Title</a>
            </button>

            <button class="btn btn-lg btn-primary cardbtn" type="button">

            </button>
            <button class="btn-sm btn-primary">
                <p>Add New Card</p>
            </button>
        </div>

    </div>
</div>
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>