@model Goatrello.Models.Report

@{
	ViewBag.Title = "Create Report";
}

<div class="pt-4">
	<div class="background-darkest card">
		<div class="p-5 row justify-content-center">
			<h2 class="text-white text-center">Create New Report</h2>
			<hr />
			<div class="col-md-12 col-lg-8">
				<form asp-action="CreateReport">
					<p class="text-info">* Required Field</p>
					<div asp-validation-summary="ModelOnly" class="text-warning"></div>
					<div class="form-group mb-4">
						<label asp-for="Name" class="control-label text-white" title="The name of the Report. (ex. Report Name)"></label><span class="text-info"> *</span>
						<input asp-for="Name" class="form-control" placeholder="ex. Report Name"/>
						<span asp-validation-for="Name" class="text-warning"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-success" />
						<a href='@ViewData["returnURL"]' class="btn btn-outline-light">Back to Report Center</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

