@page
@model LoginWith2faModel
@{
	ViewData["Title"] = "Two-factor authentication";
}

<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
	<div class="p-5 text-center background-darkest card" style="margin-top:5rem;">
		<div class="text-white">
			<h1>@ViewData["Title"]</h1>
			<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
		</div>
		<hr />

		<input asp-for="RememberMe" type="hidden" />
		<div asp-validation-summary="ModelOnly" class="text-warning" role="alert"></div>
		<div class="row justify-content-center">
			<div class="form-floating mb-3 col-md-6 col-lg-4 gx-1">
				<input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
				<label asp-for="Input.TwoFactorCode" class="form-label"></label>
				<span asp-validation-for="Input.TwoFactorCode" class="text-warning"></span>
			</div>
		</div>
		<div class="checkbox mb-3">
			<label asp-for="Input.RememberMachine" class="form-label text-white">
				<input asp-for="Input.RememberMachine" />
				@Html.DisplayNameFor(m => m.Input.RememberMachine)
			</label>
		</div>
		<div class="row justify-content-center" style="margin-bottom:1rem;">
			<div class="col-md-4">
				<button type="submit" class="w-100 btn btn-outline-light">Log in</button>
			</div>
		</div>
		<div>
			<p class="text-white-50">
				Don't have access to your authenticator device? You can
				<a class="light-beige" id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
			</p>
		</div>
	</div>
</form>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}