@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Reset password confirmation";
}
<div class="p-5 text-center background-darkest card" style="margin-top:5rem;">
	<div class="text-white">
		<h1>@ViewData["Title"]</h1>
		<p>
			Your password has been reset. Please <a asp-page="./Login" class="light-beige">click here to log in</a>.
		</p>
	</div>
</div>